* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    color: #454545;
    font-family: sans-serif;
}

img {
    height: auto;
    width: 100%;
    padding: 5px;
}

.profile-img {
    border-radius: 50%;
    transform: scale(.75);
}

h1, h2 {
    margin: 5px 0;
    text-align: center;
}

h2 {
    font-weight: 100;
    font-size: 18px;
}

h3 {
    margin: 0;
    padding-bottom: 15px;
}

h1, h3 {
    color: rgb(232,107,1);
}

.skills {
    margin-top: 30px;
    padding-top: 30px;
    text-align: center;
    color: rgb(252,192,0);
}

.skill-box .fab {
    display: block;
}

.skill-box:not(:last-child) {
    margin-bottom: 35px;
}

.rating {
    font-size: 32px;
    font-weight: bold;
}

.grade {
    display: block;
    color: grey;
    margin-top: 20px;
}

.rating::after {
    content: "*";
}

nav {
    margin-top: 30px;
}

nav ul {
    padding: 0;
    margin: 5px 0;
    list-style-type: none;
    text-align: center;
}

nav ul li a {
    text-decoration: none;
    font-size: 15px;
    line-height: 1.5em;
    color: rgb(252,192,0);
}

nav ul li a:hover {
    color: rgb(232,107,1);
}

nav ul li a.active {
    color: rgb(232,107,1);
}

.about-me {
    margin: 20px 30px 0;
    line-height: 2em;
}

.about-me::before {
    content: "Hello,";
    display: block;
    font-size: 32px;
    font-weight: bold;
}

.certificate {
    padding: 10px;
    text-align: center;
}

footer {
    text-align: center;
    margin: 25px 0;
    color: #9a9a9a;
}

footer .fas {
    color: red;
}

/* Responsive CSS */

@media screen and (min-width: 768px) {
    .container {
        max-width: 1024px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr 2fr 3fr;
        grid-template-rows: 150px 1fr;
    }

    .profile-img {
        margin-top: 10px;
    }

    h1, h2 {
        grid-column-start: 2;
        grid-row-start: 1;
        text-align: justify;
    }

    h1 {
        margin-top: 45px;
    }

    h2 {
        margin-top: 85px;
    }

    .skills {
        grid-row-start: 2;
        grid-column-start: 1;
        grid-column-end: -1;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .skill-box {
        width: 150px;
    }

    .certificate {
        grid-column: 1/4;
        width: 90%;
        justify-self: center;
        padding: 30px 50px;
    }

    nav {
        grid-column: 3/4;
        grid-row: 1/2;
    }

    nav ul {
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        margin-top: -10px;
    }

    .about-me {
        max-width: 460px;
        grid-column: 1/4;
        height: 200px;
        justify-self: center;
        padding-top: 40px;
    }
    footer {
        grid-column: 1/4;
    }
}